@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;

  h1 {
    color: coral;
    font-size: 3rem;
    margin: 10px;
  }
}


.controls {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: #ccc;
    border-radius: 10px;
    background-color: #ccc;
  }
}


.buttons {
  button {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    img {
      width: 50px;
      height: 50px;
    }
  }
}

